<div class="dropdown d-grid">
  <!--<button type="button" data-bs-toggle="dropdown" class="btn btn-lg btn-inverse btn-block dropdown-toggle"><i class="fa-solid fa-cart-shopping"></i> {{ text_items }}</button>-->
    {% if products or vouchers %}
        <table class="table table-sm table-striped table-bordered">
		 <tr>
			  <td class="text-start"><strong>{{column_name}}</strong></td>
			  <td class="text-start"><strong>{{column_quantity}}</strong></td>
			  <td class="text-start"><strong>{{column_total}}</strong></td>
		  </tr>
          {% for product in products %}
		  
            <tr>
              <!--<td class="text-center">{% if product.thumb %}<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/></a>{% endif %}</td>-->
              <td class="text-start"><a href="{{ product.href }}">{{ product.name }}</a>
                {% if product.option %}
                  {% for option in product.option %}
                    <br/>
                    <small> - {{ option.name }}: {{ option.value }}</small>
                  {% endfor %}
                {% endif %}
                {% if product.reward %}
                  <br/>
                  <small> - {{ text_points }}: {{ product.reward }}</small>
                {% endif %}
                {% if product.subscription %}
                  <br/>
                  <small> - {{ text_subscription }}: {{ product.subscription }}</small>
                {% endif %}
              </td>
              <td class="text-end">x {{ product.quantity }}</td>
              <td class="text-end">{{ product.total }}</td>
			  
              <td class="text-end">
                <form action="{{ product_remove }}" method="post">
                  <input type="hidden" name="key" value="{{ product.cart_id }}">
                  <button type="submit" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-circle-xmark"></i></button>
                </form>
              </td>
            </tr>			
          {% endfor %}

          {% for voucher in vouchers %}
            <tr>
              <!--<td class="text-center"></td>-->
              <td class="text-start">{{ voucher.description }}</td>
              <td class="text-end">x&nbsp;1</td>
              <td class="text-end">{{ voucher.amount }}</td>
			  
              <!--<td class="text-end">
                <form action="{{ voucher_remove }}" method="post" data-oc-toggle="ajax" data-oc-load="{{ list }}" data-oc-target="#header-cart">
                  <input type="hidden" name="key" value="{{ voucher.key }}"/>
                  <button type="submit" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-circle-xmark"></i></button>
                </form>
              </td>-->
            </tr>
          {% endfor %}
			
			{% for total in totals %}
			  {% if total.title == 'Total' %}
              <tr>
                <td class="text-start" colspan="2"><strong>{{ total.title }}</strong></td>
                <td class="text-end"><strong>{{ total.text }}</strong></td>
				<td class="text-end"></td>
              </tr>
			  {% endif %}
            {% endfor %}
			<tr class="paymentmethods" ></tr>
			<tr class="btn_confirm">
                <td class="text-center"  colspan="4"><button type="button" class="btn btn-primary" onclick="confirmOrder()">Confirm</button></td>
            </tr>
			
        </table>
		
        <!--<div>
          <table class="table table-sm table-bordered">
            {% for total in totals %}
			  {% if total.title == 'Total' %}
              <tr>
                <td class="text-end"><strong>{{ total.title }}</strong></td>
                <td class="text-end">{{ total.text }}</td>
              </tr>
			  {% endif %}
            {% endfor %}
          </table>
         
		 <p class="text-end"><a href="{{ cart }}"><strong><i class="fa-solid fa-cart-shopping"></i> {{ text_cart }}</strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong><i class="fa-solid fa-share"></i> {{ text_checkout }}</strong></a></p>
        </div>-->
    {% else %}
      <!--<li>
        <p class="text-center">{{ text_no_results }}</p>
      </li>-->
    {% endif %}
  </ul>
</div>
<script>
getPaymentMethods();
function getPaymentMethods(){
	$.ajax({
		url: 'index.php?route=extension/purpletree_multivendor/multivendor/pos.getMethods&language={{ language }}',
		dataType: 'json',
		success: function(json) {
			$('.paymentmethods').html('');
			if (json['payment_methods']) {
				html1 = '<td colspan="4">';
				for (i in json['payment_methods']) {
					if (!json['payment_methods'][i]['error']) {
						for (j in json['payment_methods'][i]['option']) {
							var code = i + '-' + j.replaceAll('_', '-');
							html1 += '<input type="radio" name="payment_method" value="' + json['payment_methods'][i]['option'][j]['code'] + '" id="input-payment-method-' + code + '"';
							if (json['payment_methods'][i]['option'][j]['code'] == $('#input-payment-code').val()) {
								html1 += ' checked';
							}
							html1 += '/>';
							html1 += '  <label for="input-payment-method-' + code + '">' + json['payment_methods'][i]['option'][j]['name'] + '</label><br>';
						}
					} else {
						html1 += '<div class="alert alert-danger">' + json['payment_methods'][i]['error'] + '</div>';
					}
				}
				html1 += '</td>';
				alert(html1);
				$('.paymentmethods').html(html1);
			}
		}
	});
}
</script>

