
<div class="order_section">
    <div class="order_item_container">
        <div id="no-order" class="no-order active p-4 p-sm-4 p-md-4 p-lg-5">
            <div class="banner_img">
                <img src="http://127.0.0.1/restaurant/extension/purpletree_multivendor/image/img_noorder.png" style="width:75%;">
                </div>
                <h3 >You've no <br>order in process from <br>Counter Desk.</h3>
                <h5 style="color:tan;">Click on any item or Add Order Button <br>to create order</h5><br>
				<div class="btn_box">
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <button type="button" class="btn btn-primary btn-lg" id="add_btn">Add Order</button>
						</div>
                        <div class="col-6 col-sm-6 col-md-6  px-1 px-md-2">
                                <button type="button" class="btn btn-primary btn-lg order-status">Order Status</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>



<div class="dropdown d-grid" id="add_order">
    {% if products or vouchers %}
        <table class="table table-sm table-striped table-bordered">
			<tr>
				<td class="text-start"><strong>{{column_name}}</strong></td>
				<td class="text-start"><strong>{{column_quantity}}</strong></td>
				<td class="text-start"><strong>{{column_total}}</strong></td>
			</tr>
			{% for product in products %}
            <tr>
				<td class="text-start"><a href="{{ product.href }}">{{ product.name }}</a>
                {% if product.option %}
                  {% for option in product.option %}
                    <br/>
                    <small> - {{ option.name }}: {{ option.value }}</small>
                  {% endfor %}
                {% endif %}
                {% if product.reward %}
                  <br/>
                  <small> - {{ text_points }}: {{ product.reward }}</small>
                {% endif %}
                {% if product.subscription %}
                  <br/>
                  <small> - {{ text_subscription }}: {{ product.subscription }}</small>
                {% endif %}
				</td>
				<td class="text-end">x {{ product.quantity }}</td>
				<td class="text-end">{{ product.total }}</td>
				<td class="text-end"><button type="button" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="ProductRemove({{ product.cart_id }})"><i class="fa-solid fa-circle-xmark"></i></button></td>
            </tr>			
			{% endfor %}

			{% for voucher in vouchers %}
            <tr>
				<td class="text-start">{{ voucher.description }}</td>
				<td class="text-end">x&nbsp;1</td>
				<td class="text-end">{{ voucher.amount }}</td>
            </tr>
			{% endfor %}
			
			{% for total in totals %}
			  {% if total.title == 'Total' %}
				<tr>
					<td class="text-start" colspan="2"><strong>{{ total.title }}</strong></td>
					<td class="text-end"><strong>{{ total.text }}</strong></td>
					<td class="text-end"></td>
				</tr>
				<tr>
					<td class="text-start" colspan="3"><button type="button" class="btn btn-primary btn-lg Cancel" id="cancel_order">Cancel</button></td>
					<td class="text-end"><button type="button" class="btn btn-primary btn-lg "id="place_btn" >Place Order</button></td>
				</tr>
				
				{% endif %}
            {% endfor %}
			
        </table>
    {% endif %}
	</ul>
</div>



<div class="dropdown d-grid "id="place_order">
 <table class="table table-sm table-striped table-bordered">
			<tr >
				<td  class="paymentmethods">
				</td>
			</tr>
			<tr>
				<td class="text-start" colspan="2"><button type="button" class="btn btn-primary btn-lg Cancel" id="cancel_order">Cancel</button></td>
				<td class="text-end"><button type="button" class="btn btn-primary btn-lg" >Submit</button></td>
			</tr>
			
        </table>
    
</div>



<script>
 $('#add_order').hide();
 $('#place_order').hide();
$("#add_btn").click(function(){
  $('#add_order').show();
  $('.order_section').hide();
});
$("#place_btn").click(function(){
  $('#add_order').hide();
  $('#place_order').show();
});
$("#cancel_order").on("click", function() {
            $("#no-order").toggleClass("active");
            $("#item_list").removeClass("active");
        });
getPaymentMethods();
function getPaymentMethods(){
	$.ajax({
		url: 'index.php?route=extension/purpletree_multivendor/multivendor/pos.getMethods&language={{ language }}',
		dataType: 'json',
		success: function(json) {
			$('.paymentmethods').html('');
			if (json['payment_methods']) {
				html1 = '<td colspan="4">';
				for (i in json['payment_methods']) {
					if (!json['payment_methods'][i]['error']) {
						for (j in json['payment_methods'][i]['option']) {
							var code = i + '-' + j.replaceAll('_', '-');
							//alert(code);
							html1 += '<input type="radio" name="payment_method" value="' + json['payment_methods'][i]['option'][j]['code'] + '" id="input-payment-method-' + code + '" class="payment_methods" onclick="paymentMethods()" />';
							html1 += '  <label for="input-payment-method-' + code + '">' + json['payment_methods'][i]['option'][j]['name'] + '</label><br>';
						}
					} else {
						html1 += '<div class="alert alert-danger">' + json['payment_methods'][i]['error'] + '</div>';
					}
				}
				html1 += '</td>';
				$('.paymentmethods').html(html1);
			}
		}
	});
}
function ProductRemove(cart_id){
	if(cart_id > 0){
		$.ajax({
			url: 'index.php?route=extension/purpletree_multivendor/multivendor/pos.removeProduct&language={{ language }}',
			type: 'post',
			data: 'key='+cart_id,
			dataType: 'json',
			success: function (json) {
				if(json['success']){
					alert(json['success_message']);
					location.reload();
				}
			}
		});
	}
}
function paymentMethods(){
	$('.btnconfirm').removeAttr('disabled');
}

</script>


