{{ header }}
<div class="pts-container container">
	<div class="pts-row d-flex row">
	{{ column_left }}
	<div id="content" class="pts-col-sm-9 col-sm-9 pts-col-md-9 col-md-9 pts-col-lg-10 col-lg-10 pts-col-xs-12 col-xs-12">
		<div class="page-header">
			{% if error_warning %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
			{% endif %}
			{% if success %}
			<div class="alert pts-alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
			{% endif %}
			<div class="container-fluid">
			 <h1>{{ heading_title }}</h1>
			  <ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			  </ul>
				
			</div>
		</div>
		<div class="pts-table-responsive">
			<div class="pts-col-sm-6">
				<div class="pts-col-sm-12 pts-btn-group"  data-toggle="buttons">
					{% if ordertypes %}
						{% for ordertype in ordertypes %}
						<label class="pts-btn btn-primary col-sm-4 {{ ordertype.name|upper }}" onclick="getOrderType('{{ ordertype.name|upper }}')">{{ordertype.name}}
						</label>
						<input class="name" type="hidden" value="{{ordertype.name}}"/>
						{% endfor %}
					{% endif %}	
				</div><br><br>
				<div id="myimageDiv" style="margin-left:19px;">
					<i id="myicon" class="fa fa-table fa-3x" alt="" ></i>
					<i class="myimage2 fa fa-user fa-3x"></i>
					<!--<img class="myimage2 fa fa-user" class="fa fa-user"   alt="" width="50" height="50" disabled />-->
				</div><br>
				<div id="appended"></div>
			</div>
			<div class="pts-col-sm-6">
				<div class="pts-col-sm-12 DocumentList">
					<b style="font-size: 24px !important;">Categories</b><br><br>
					<ul class="ul_categories list-inline">
						{% for vendor_categorie in vendor_categories %}
							<li class="categories categorie_{{ vendor_categorie.category_id }} DocumentItem" data-id="{{ vendor_categorie.category_id }}"><a onclick="getCategorieProducts({{ vendor_categorie.category_id }})">{{ vendor_categorie.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<!--<div class="pts-col-sm-4">
					<ul class="pts-nav ul_categories">
						<b style="font-size: 24px !important;">Categories</b><br><br>
						{% for vendor_categorie in vendor_categories %}
							<li class="categories categorie_{{ vendor_categorie.category_id }}" data-id="{{ vendor_categorie.category_id }}"><a onclick="getCategorieProducts({{ vendor_categorie.category_id }})">{{ vendor_categorie.name }}</a></li>
						{% endfor %}
					</ul>
				</div>-->
				<div class="pts-col-sm-12"><br>
					<input type="text" class="form-control" placeholder="Search" id="search_products">
					<input type="hidden" value="" class="getcategorie">
				</div>
				<div id="categorie_products"></div>
			</div>
		</div>
	</div>
	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<div class="form-group row  py-4">
				<div class="col-sm-11 text-end ">
					<h3 class="modal-title" id="exampleModalLabel">Product Option Value</h3>
				</div>
				<div class="col-sm-1 text-end ">
					 <button type="button" class="pts-close" data-dismiss="modal" aria-label="Close">
					 <span aria-hidden="true">&times;</span>
					 </button>
				</div>
			</div>	
		</div>
		<div class="modal-body">
			<div class="form-group row  py-4">
				<div class="col-sm-12 text-end">
					<div id="product_options" style="height: 150px; overflow: auto;"></div>
					<div style="margin-top:20px;">
						<a onclick="$('input[type=checkbox]').prop('checked', true);">Select all</a> / <a onclick="$('input[type=checkbox]').prop('checked', false);">Unselect All</a>
					</div>
				</div>
			</div>	
		</div>
		<div class="modal-footer">
			<div class="form-group row  py-4">
				<div class="col-sm-12 text-center">
					<button type="button" class="btn btn-primary add">Add</button>
				</div>
			</div>	
		</div>
      </div>
    </div>
</div>
<style>
.DocumentList{
    overflow-x:scroll;
    overflow-y:hidden;
    height:140px;
    width:100%;
    padding:0;
}
.DocumentItem{
    border:0px solid black;
    padding:18px;
	height:60px;
	width:150px;
	text-align: center;
	background-color:#fff;
}
.list-inline {
	white-space:nowrap;
}

.categories.active {
	background-color:#286090;
}
.categories.active a {
	color:#fff;
}
.categories.active :hover {
  color: #fff;
  background-color:#204d74;
}
</style>
<style>
.myimage{
	cursor: not-allowed;
}
</style>
<script>
$( document ).ready(function() {
	$('.btn_confirm').remove();
	$('#myimageDiv').hide();
	$('.categories').removeClass("active");
	$(".ul_categories").each(function(){
       $(this).find('.categories').first().addClass("active");
    });
	active_category = $('.ul_categories li.active').data('id');
	if(active_category > 0){getCategorieProducts(active_category);}
	$('.getcategorie').val(active_category);
	
	// Start Search Products //
	$("#search_products").on('change',function(e){		
		var categorie = $('.getcategorie').val();
		if(categorie > 0){
			$product = $(this).val();
			if($product != ''){
				$.ajax({
					url: 'index.php?route=extension/purpletree_multivendor/multivendor/pos.getCategorieProducts&language={{ language }}',
					type: 'post',
					data: 'category_id='+categorie+'&product='+$product,
					dataType: 'json',
					success: function (json) {
						if(json['success']){
							$("#categorie_products").empty();
							html = '';
							if(json['rt_products']){
								$.each(json['rt_products'],function(index, value){
									html += '<div class="col-md-4 product_img" onclick="getProductData('+value['product_id']+')"><img src="'+value['thumb']+'" alt="" width="100" height="100" style="padding-top: 10px"; title=""><br>'+value['name']+'</div>';
								});
							}
							$("#categorie_products").append(html);
						}	
					}
				}); 
			}
		}else{
			alert('Categories must be seletced!');
		}
	});
	// End Search Products //
});

//Start ConfirmOrder Button //
function confirmOrder(){
	$.ajax({
		url: 'index.php?route=extension/purpletree_multivendor/multivendor/pos.confirm&language={{ language }}',
		type: 'post',
		dataType: 'json',
		success: function (json) {
			if(json['success']){
				html = '';
				if(json['rt_products']){
					$.each(json['rt_products'],function(index, value){
						$products[value['product_id']] = value;
						html += '<div class="col-md-4 product_img" onclick="getProductData('+value['product_id']+','+value['options'].length+'); this.onclick=null;"><img src="'+value['thumb']+'" alt="" width="100" height="100" style="padding-top: 10px"; title=""><br>'+value['name']+'</div>';
						$('#appended').empty();
						$.ajax({
							url: 'index.php?route=checkout/cart.add&language={{ language }}',
							type: 'post',
							data: 'product_id='+value['product_id']+'&quantity=4',
							dataType: 'json',
							contentType: 'application/x-www-form-urlencoded',
							cache: false,
							processData: false,
							success: function(json) {
								if(json['success']){
									$('#appended').load('index.php?route=extension/purpletree_multivendor/multivendor/pos.getcart&language={{ language }}');
								}					
							}
						});
					});
				}
				$("#categorie_products").append(html);
			}	
		}
	}); 
}
// End ConfirmOrder Button //

// Start Button enable/disabled //
function getOrderType(name){
	$('#myimageDiv').show();
	if(name == 'DINING'){
		$(".myimage1").addClass('myimage');
		$("#myicon").removeClass('myimage');
	}
	if(name == 'DELIVERY' || name == 'PICKUP'){
		$("#myicon").addClass('myimage');
	}
}
// End Button enable/disabled //

// Start Fatch Products //
var $products = {};
function getCategorieProducts(category_id){		
	$("#categorie_products").empty();
	if(category_id > 0){
		$('.categories').removeClass("pts-btn btn-primary active");
		$('.categorie_'+category_id).addClass("pts-btn btn-primary active");
		$('.getcategorie').val(category_id);
		$product = $('#search_products').val();
		$products = {};
		$.ajax({
			url: 'index.php?route=extension/purpletree_multivendor/multivendor/pos.getCategorieProducts&language={{ language }}',
			type: 'post',
			data: 'category_id='+category_id+'&product='+$product,
			dataType: 'json',
			success: function (json) {
				if(json['success']){
					html = '';
					if(json['rt_products']){
						$.each(json['rt_products'],function(index, value){
							$products[value['product_id']] = value;
							html += '<div class="col-md-4 product_img" onclick="getProductData('+value['product_id']+','+value['options'].length+')"><img src="'+value['thumb']+'" alt="" width="100" height="100" style="padding-top: 10px"; title=""><br>'+value['name']+'</div>';
							$('#appended').empty();
						});
					}
					$("#categorie_products").append(html);
					getCart();
				}	
			}
		}); 
	}
}
// End Fatch Products //

function getCart(){
	$('#appended').load('index.php?route=extension/purpletree_multivendor/multivendor/pos.getcart&language={{ language }}');
}

function addProductToCart(product_id,option,quantity){
	options = '';
	if(option){
		for(option_id in option){
			options += '&option['+option_id+']='+option[option_id];
		}
	}
	$.ajax({
		url: 'index.php?route=checkout/cart.add&language={{ language }}',
		type: 'post',
		data: 'product_id='+product_id+'&quantity='+quantity+options,
		dataType: 'json',
		contentType: 'application/x-www-form-urlencoded',
		cache: false,
		processData: false,
		success: function(json) {
			if(json['success']){
				$('#appended').load('index.php?route=extension/purpletree_multivendor/multivendor/pos.getcart&language={{ language }}');
				$('.jxsuccess').html(html);
				$('#exampleModal').modal('hide');
			}else{
				//Display Errors
				console.log(json);
				alert('Product Option Value');
			}							
		},
		error: function(xhr, ajaxOptions, thrownError) {
			console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
}

// Start Option Products //
function getProductData(product_id,options_length){
	if(product_id > 0){
		if(options_length>0){
			$('#exampleModal').modal('show');
			$.ajax({
				url: 'index.php?route=extension/purpletree_multivendor/multivendor/pos.getProductOptions&language={{ language }}',
				type: 'post',
				data: 'product_id='+product_id,
				dataType: 'json',
				success: function (json) {
					if(json['success']){
						html = '';
						if(json['product_options']){
							$.each(json['product_options'],function(index, value){
								html += "<div><legend class='float-none'>"+value['name']+"</legend>";
								$.each(value['product_option_value'],function(key, val){
									html+='<div class="checkbox"><label>';
									html+='<input type="checkbox" name="option[]" value="'+val['product_option_value_id']+'"> '+val['name'];
									html+='</label><input type="hidden" class="prod_option_'+val['product_option_value_id']+'" value="'+value['product_option_id']+'"></div>';
								});
								html += "</div>";
							});
						}
						$('#product_options').html('');
						$("#product_options").append(html);
					}
				}
			});
			$(".add").click(function(){	
				var option = {};
				$('input[type=checkbox]:checked').each(function(i){
					var product_option = $('.prod_option_'+$(this).val()).val();
					option[product_option] = $(this).val();
				});
				if(option != ''){
					addProductToCart(product_id,option,1);
				}else{
					alert('Please must be select product option value!');
				}
			});				
		}else{
			addProductToCart(product_id,false,1);
		}
	}
}
// End Option Products //
</script>
{{ footer }}