{{ header }}
<link href="extension/purpletree_multivendor/catalog/view/assets/library/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="extension/purpletree_multivendor/catalog/view/assets/library/jquery/datetimepicker/moment/moment.min.js"></script>
<script type="text/javascript" src="extension/purpletree_multivendor/catalog/view/assets/library/jquery/datetimepicker/moment/moment-with-locales.min.js"></script>
<script type="text/javascript" src="extension/purpletree_multivendor/catalog/view/assets/library/jquery/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<div class="pts-container container">
<div class="pts-row d-flex row">{{ column_left }}
		<div id="content" class="pts-col-sm-9 col-sm-9 pts-col-md-9 col-md-9 pts-col-lg-10 col-lg-10 pts-col-xs-12 col-xs-12"> 
			<div class="page-header">
			   {% if error_warning %}
<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
    <div class="container-fluid">
     <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
	  {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
              </ul>
			  <div class="pts-pull-right">
			<button type="submit" form="form-attribute" data-toggle="tooltip" title="{{ button_save }}" class="pts-btn pts-btn-primary"><i class="fa fa-save"></i></button>
			<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="pts-btn pts-btn-default"><i class="fa fa-reply"></i></a>
			 {% if helpcheck %}
				<a href="{{ helplink }}" rel=”nofollow”  target="_blank" id="button-pts-help" class="btn"><img src="{{ helpimage }}" alt="Help" width="85" height="43"></a>
			{% endif %}
			</div>
    </div>
  </div>

		<div class="pts-panel pts-panel-default">
			<div class="pts-panel-heading">
				<h3 class="pts-panel-title"><i class="fa fa-pencil fas fa-pen"></i> {{ text_form }}</h3>
			</div>
			<div class="pts-panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-attribute" class="pts-form-horizontal">
					
					<div class="pts-form-group required">
						<label class="pts-col-sm-2 pts-control-label">{{ entry_tableno }}</label>
						<div class="pts-col-sm-10">
							<input type="text" name="table_no" value="{{ table_no }}" placeholder="{{ entry_tableno }}" id="input-sort-order" class="pts-form-control" />
							{% if error_table_no %}
								<div class="text-danger">{{ error_table_no }}</div>
							{% endif %}
						</div>
					</div>
					
					<div class="pts-form-group">
						<label class="pts-col-sm-2 pts-control-label" for="input-sort-order">{{ entry_seat }}</label>
						<div class="pts-col-sm-10">
							<div class="pts-group" data-toggle="buttons">
								{% for seat in seats %}											
									<label class="btn_default pts-btn pts-btn-default {% if (seat_capacity == seat) or ((seat == 2) and (seat_capacity == '')) %} active{% endif %}">
										<input type="radio" name="seat_capacity" id="option{{seat}}" value="{{seat}}" /> {{seat}}
									</label>
								{% endfor %}
							</div>
						</div>
					</div>
					
					<div class="pts-form-group">
						<label class="pts-col-sm-2 pts-control-label" for="input-storestate">{{ entry_store }}</label>
						<div class="pts-col-sm-10">
							<select name="vendor_store_id" id="input-store" class="pts-form-control">
								{% for store in stores %}
								<option value="{{ store.store_id }}"{% if store.store_id == vendor_store_id %} selected{% endif %}>{{ store.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="pts-form-group">
						<label class="pts-col-sm-2 pts-control-label" for="input-storestate">{{ entry_location }}</label>
						<div class="pts-col-sm-10">
							<select name="location" id="input-location" class="pts-form-control">
								{% for location in locations %}
								<option value="{{ location.tl_id }}"{% if location.tl_id == location_id %} selected{% endif %}>{{ location.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					
					<div class="pts-form-group">
						<label class="pts-col-sm-2 pts-control-label" for="input-attribute-group">{{ entry_status }}</label>
						<div class="pts-col-sm-10">
							<label class="switch">
								<input type="checkbox"  name="status" value="1" id="status" data-oc-toggle="switch" data-oc-target="#input-points" class="form-check-input"{% if status %} checked{% endif %}/>
								<span class="slider round"></span>
							</label>
						</div>
					</div>
				</form>
			</div>
		</div>
					</div>
			</div>
</div>
<style>
.switch {
	position: relative !important;
	display: inline-block !important;
	width: 60px !important;
	height: 28px !important;
}
  
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
  
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
  
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
  
input:checked + .slider {
	background-color: #2196F3;
}
  
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
}
  
.slider.round:before {
	border-radius: 50%;
}

.pts-btn-default.active {
  color: #fff !important;
  background-color: #1e91cf !important;
  border-color: #1e91cf !important;
}
.btn_default {
  color: #1e91cf !important;
  border-color: #1e91cf !important;
}
</style>

{{ footer }}