{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right float-end">
				<button type="submit" form="form-subscription" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
			<a href="{{ cancel }}" data-bs-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default btn-light"><i class="fa fa-reply"></i></a>
			
			{% if helpcheck %}
				<a href="{{ helplink }}" rel=”nofollow”  target="_blank" id="button-pts-help" class="btn"><img src="{{ helpimage }}" alt="Help" width="85" height="43"></a>
			{% endif %}
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		{% endif %}
		<div class="panel panel-default card">
			<div class="panel-heading">
				<h3 class="panel-title card-header"><i class="fa fa-pencil fas fa-edit"></i> {{ text_form }}</h3>
			</div>
			<div class="panel-body card-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-subscription" class="form-horizontal">					
					
						<div class="tab-pane active" id="tab-general">
							
							<div class="tab-content">
								{% for language in languages %}
								<div class="tab-pane{% if loop.first %} active{% endif %}" id="language{{ language.language_id }}">
									<div class="form-group row required py-4">
										<label class="col-sm-2 control-label col-form-label" for="input-name{{ language.language_id }}">{{ entry_tableno }}</label>
										<div class="col-sm-10">
											<input type="text" name="table_no" value="{{ table_no }}" placeholder="{{ entry_tableno }}" id="input-name" list="cat-filter" class="form-control" />
											{% if error_table_no %}
											<div class="text-danger">{{ error_table_no }}</div>
											{% endif %}
										</div>
										<div id="error-table_no" class="invalid-feedback"> {{ entry_table_no }}</div>
									</div>	
								
									<div class="form-group row  py-4">
										<label class="col-sm-2  form-check  col-form-label">{{ entry_seat }}</label>
										<div class="col-sm-10">
										{% for seat in seats %}
											<input type="radio" name="seat_capacity" id="btn-check-outlined option{{seat}}" value="{{seat}}" class="btn-check" autocomplete="off" {% if (seat_capacity == seat) or ((seat == 2) and (seat_capacity == '')) %} checked{% endif %}>											
											<label class="btn btn-outline-primary" for="btn-check-outlined option{{seat}}">{{seat}}</label>
										{% endfor %}										
										</div>
									</div>	
									
									<div class="form-group row  py-4">
										<label class="col-sm-2 control-label col-form-label" for="input-name{{ language.language_id }}">{{ entry_vendor }}</label>
										<div class="col-sm-10">
										<select name="vendor_id" id="input-vendor_id" class="form-select">
										<option value="">{{ text_select }}</option>
										  {% for seller in sellers %}
											<option value="{{ seller.id }}"{% if seller.id == vendor_id %} selected="selected" {% endif %}>{{ seller.store_name }}</option>
											{% endfor %}
										  </select>
										</div>
									</div>
									
									<div class="form-group row  py-4">
									<label class="col-sm-2 control-label col-form-label" for="input-location">{{ entry_location }}</label>
									<div class="col-sm-10">
										<select name="location" id="inputlocation"  class="form-select">
										<option value="">{{ text_select }}</option>
										  {% for location in locations %}
											<option value="{{ location.tl_id }}" {% if location.tl_id == location_id %} selected="selected" {% endif %}  data-vendor-id="{{ location.vendor_id }}">{{ location.name }}</option>
										  {% endfor %}
										</select>
									  </div>
									</div>
									
									<div class="form-group row  py-4">
									<label class="col-sm-2 control-label col-form-label" for="input-storestate">{{ entry_store }}</label>
									<div class="col-sm-10">
										<select name="vendor_store_id" id="input-store" class="form-select">
										  {% for store in stores %}
											<option value="{{ store.store_id }}" {% if store.store_id == vendor_store_id %} selected="selected" {% endif %}>{{ store.name }}</option>
										  {% endfor %}
										</select>
									  </div>
									</div>

									
									<div class="form-group row  py-4">
									<label class="col-sm-2 control-label col-form-label" for="input-status">{{ entry_status }}</label>
									<div class="col-sm-10">
											<div class="form-check form-switch form-switch-lg">
											<input type="checkbox" name="status" value="1" id="status" data-oc-toggle="switch" data-oc-target="#input-points" class="form-check-input"{% if status %} checked{% endif %}/> <label for="status" class="form-check-label"></label>
										  </div>
									</div>
									</div>
									
									
								</div>
								{% endfor %}
							</div>
						</div>
						</div>
	</form>
</div>
</div>
</div> 
<script>
$( document ).ready(function() {
    $("#input-vendor_id").trigger('change');
	location_id = {{location_id}};
	if(location_id > 0){
		$("#inputlocation").val(location_id);
	}
});
$("#input-vendor_id").change(function(){
	vendor_id = $(this).val();
	$("#inputlocation").val("").trigger('change');
	$("#inputlocation option").hide();
	$("#inputlocation option[data-vendor-id='"+vendor_id+"']").show();
});
function vendorLocation(id){
	$('#exampleModalLabel').empty();
	$.ajax({
		url:'index.php?route=extension/purpletree_multivendor/multivendor/location|jxGetLocation&user_token={{ user_token }}',	
		type: "POST",
		data: 'tl_id='+tl_id,
		success: function (results) {
			if(results['success'] && results['data']){
				$('#input-name').val(results['data']['name']);
				$('#input-vendor_id').val(results['data']['vendor_id']);
				$('#input-sortorder').val(results['data']['sort_order']);
				$('#tl_id').val(results['data']['tl_id']);
				$('#input-status').val(results['data']['status']);
				if(results['data']['status'] == 1){
					$('#input-status').attr('checked', true);
				}else{
					$('#input-status').attr('checked', false);
				}
				$('#exampleModalLabel').html('Edit');
			}else{
				$('#input-name').val('');
				$('#input-vendor_id').val('');
				$('#input-sortorder').val('');
				$('#tl_id').val(0);
				$('#input-status').val(0);
				$('#input-status').attr('checked', false);
				$('#exampleModalLabel').html('Add');
			}
		}
	});
}
</script>
</div>
{{ footer }}

